header {
    background-color: #007BFF; 
    padding: 20px 0; 
    width: 100%; 
    position: fixed; 
    top: 0; 
    left: 0; 
   
    display: flex;
    justify-content: center; 
  }
  .searchForm {
    display: flex;
    align-items: center;
    width: 420px;
    
  }
  
  .input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .button {
    padding: 10px 15px;
    background-color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  